<h1>Form Numeral to Roman</h1>
<form action="/numeraltoroman" method="POST">
    <label>Numeral</label>
    <input type="number" name="numeral"><br><br>

    <button type="submit">Convert</button>
</form>