<form action="/findDomain" method="GET">
    <input type="text" name="txt-search" id="txt-search" placeholder="Domínio" class="form-control" onkeypress="validateDomain();" onblur="validateDomain();"><br>

    <button type="submit" id="btn-search" class="btn btn-block btn-success" style="display: none;">Pesquisar...</button>
</form>

<script type="text/javascript">
    function validateDomain() {
        let val = document.getElementById('txt-search').value

        let res = val.match(/^(?:https?:\/\/)?(w{3}\.)?[\w_-]+((\.\w{2,}){1,2})(\/([\w\._-]+\/?)*(\?[\w_-]+=[^\?\/&]*(\&[\w_-]+=[^\?\/&]*)*)?)?$/)
        if (res) {
            document.getElementById('btn-search').style.display = 'block'
            return true
        }
        document.getElementById('btn-search').style.display = 'none'
        return false
    }
</script>