<h2>Form Numeral to Roman</h2>
<form action="/numeralToRoman" method="GET">
    <input type="number" name="numeral" placeholder="Numeral" class="form-control" min="1" max="3000"><br>

    <button type="submit" class="btn btn-block btn-primary">Convert</button>
</form>