<h1>Form Roman to Numeral</h1>
<form action="/romanToNumeral" method="POST">
    <label>Roman</label>
    <input type="text" name="roman" style="text-transform:uppercase"><br><br>

    <button type="submit">Convert</button>
</form>