<h2>Form Roman to Numeral</h2>
<form action="/romanToNumeral" method="GET">
    <input type="text" name="roman" placeholder="Roman" class="form-control"><br>

    <button type="submit" class="btn btn-block btn-primary">Convert</button>
</form>